extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float cemter-block text-center big-top-space")
        h1 Bienvenidos al Blog de Santiago
        a(href="/login" class="right-space") LOGIN
        a(href="/signup") SIGNUP